html{
    font-family: 'Lato';
    box-sizing: border-box; }
    
  *, *:before, *:after { box-sizing: inherit;}
    
  p{
    font-size: 12vw;
    margin: 0;
    text-align: right;
    font-weight: bold;  
  }
  
  .main{
    margin-top: 30vh;
    margin-left:10%;
    padding: 20px;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    border-bottom: 5px solid red;
  }
  
  .JA {
    text-align: left;
    font-size: 4vw;
    font-weight: 300;
    margin-top: 10px;
    padding: 20px;
  }
